/* Importe a fonte Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Estilo para o corpo da página */
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Estilo para o contêiner principal */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para o título */
.titulo {
  text-align: center;
}

/* Estilo para rótulos */
label {
  display: block;
  margin-bottom: 5px;
}

/* Estilo para seleção e entrada de dados */
select, button {
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input[type="number"] {
  width: 378px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Estilo para o botão */
button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo para o resultado */
.resultado {
  text-align: left;
}

/* Estilo para o resultado dentro da div .resultado */
.resultado p {
  font-weight: bold;
}
